# dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# build output
dist/
build/

# local env files
.env
.env.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# vercel local settings
.vercel
